# Ignore Database Volume
postgres_data/

# Ignore Generated Data
data/raw/
data/lake/
data/settlements/

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore Logs
logs/

# Ignore Airflow Configs that might have secrets
airflow.cfg